@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.welcomeP {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 10%;
  /* border: 2px solid green; */
}
.welcomeH1 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 1%;
  padding-top: 5%;
  /* border: 2px solid green; */
  text-align: center;
  width: 100%;
}
.registerHereP {
  margin: 0;
}
.welcomeH1 {
  margin-top: 13px;
  font-weight: 700;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 0 8px rgba(194, 198, 204, 0.6);
}
.offerAccommodationAnd {
  font-weight: 600;
}
.offerAccommodationAndBecome {
  align-self: stretch;
  position: relative;
  display: inline-block;
  /* border: 3px solid red; */
  padding-bottom: 10%;
}
.becomeAVolunteer {
  position: relative;
  font-size: 15px;
  display: inline-block;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 5% 3%;
  background-color: #908db9;
  border-radius: 40px;
  width: 190px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.button1:hover,
.button:hover {
  animation: 1s ease 0s 1 normal none wobble-hor-bottom;
  opacity: 1;
}
.becomeVolunteerFrameArticle {
  width: 40%;
  background: #0000;
  font-family: Montserrat;
  padding-bottom: 5%;
}
.cardBecomeVolunteerArticle {
  border-radius: 12px;
  background-color: #ead49c;
  padding: 7% 5% 8% 5%;
  gap: 48px;
  text-align: left;
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
}
.becomeVolunteerFrameArticle {
  border-radius: 10px;
  background-color: #f5eacd;
  color: #4c4446;
}
.descriptionDiv {
  font-weight: 500;
}
.descriptionDiv,
.descriptionDiv1 {
  position: relative;
  display: inline-block;
  width: 90%;
  /* border: 3px solid red; */
  margin: auto;
  padding-top: 4%;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  background-color: #f5eacdcf;
  width: 70%;

  margin-bottom: 18%;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 21px 29px;
  background-color: #908db9;
  border-radius: 40px;
  width: 220px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.getHelpFrameArticle {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* gap: 25%; */
  width: 40%;
}
.getHelpFrameArticle {
  background-image: url(../../public/gethelpframe@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1%;
  /* border: 2px solid red; */
}
.welcomeSection {
  margin: 5% auto;
  flex-direction: column;
  box-sizing: border-box;
  gap: 41px;
  opacity: 0.9;
  text-align: left;
  color: #342e37;
  font-family: Montserrat;
}
.articleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 10px;
  justify-content: center;
 
}
@media screen and (max-width: 1200px) {
  /* .becomeVolunteerFrameArticle {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    
  } */
  /* .button1 {
    margin-top: 400px;
  } */
  /* .getHelpFrameArticle {
    margin-top: 40px;
    background-position: center;
    flex: unset;
    
  
  } */
}
@media screen and (max-width: 768px) {
  .becomeVolunteerFrameArticle,
  .getHelpFrameArticle {
    width: 70%;
  }
  .getHelpFrameArticle {
    /* gap: 10px; */
    width: 72%;
    padding-top: 30px;
  
  }
  .frameDiv{
    /* border: 4px solid rgb(0, 255, 174); */
    margin-bottom: 0;
  }
  .welcomeSection {
    flex-direction: column;
    margin-top: 10%;
  }
  .button1 {
    margin: 150px 0px 30px 0px;
  }
  .welcomeSection {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;

  }
}
@media screen and (max-width: 500px) {
  .becomeVolunteerFrameArticle,
  .getHelpFrameArticle {
    width: 100%;
  }
  .getHelpFrameArticle {
    gap: 2%;
    /* border: 3px solid goldenrod; */
  }
}
